gunicorn==23.0.0
Flask==3.0.0
python-telegram-bot==13.15
Pillow==10.1.0
python-dotenv==1.0.0
trafilatura==1.6.1
requests==2.31.0
beautifulsoup4==4.12.2
flask-sqlalchemy
psycopg2-binary
email-validator
replit
telegram
openai
flask-login
flask-wtf
flask-login
werkzeug
httpx